<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>

<p style="text-align: center"><b>Assalomu aleykum!</b></p>
<div class="container">
    <p>Sizning parolingizni qayta tiklash uchun kodingiz: <strong><b>{{ code }}</b></strong></p>
    <p>Agar siz paroligizni qayta tiklashni talab qilmagan bo'lsangiz, bu xabarni e'tiborga olmang.</p>
    <p>Yana savollaringiz bo'lsa, biz bog'laning.</p>
    <p>E'tiboringiz uchun Rahmat!</p>
</div>

</body>
</html>