{% extends 'base.html' %}

{% block title %} 
    check verify code  
{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h2>Emailingizga yuborilgan 6 xonali kodni kiriting. Maxfiy kodning amal qilish muddati 5 daqiqa...</h2>
    <br>
    <br>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Kodni tekshirish" class="btn btn-primary">
        <br>
        <br>

        <p><a href="{% url 'accounts:password-reset' %}" class="btn btn-secondary">Ortga qaytish</a></p>
        <br>
        <br>
        <br>
    </form>
</div>

{% endblock content %}
