{% extends 'base.html' %}
{% load static %}

{% block title %} 
    register page 
{% endblock title %}

{% block content %}
<br>

<a href="{% url 'home' %}" class="btn btn-primary btn-lg active font-weight-bold btn-shadow-brand hover-up" style="margin-left: 20px;">Back to home</a>

    <div class="container">
        <br>
        <form method="POST" style="font-weight: bold;">
            {% csrf_token %}
            {{ form.as_p }}
        <br>
        <br>
        <br>
            <input value="Register" type="submit" class="btn btn-success">
        </form>
        <br>
        <br>
    </div>

    <div class="container">
        <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0 0 20px 10px;">Accountga kirish</h4>
        <div class="col my-4 my-md-0">
            <a href="{% url 'accounts:login' %}" class="btn btn-info btn-lg active font-weight-bold btn-shadow-brand hover-up" role="button" aria-pressed="true">Login</a>
        </div>
    </div>
    <br>
    <br>
    <br>

{% endblock content %}
