{% extends 'base.html' %}
{% load static %}

{% block title %} 
    update profile
{% endblock title %}


{% block content %}
<a href="{% url 'home' %}" class="btn btn-primary btn-lg active font-weight-bold btn-shadow-brand hover-up" style="margin: 10px;">Back to home</a>

   <div class="container">
    <br>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <br>
        <input value="Update" type="submit" class="btn btn-success">
        <br>
        <br>
        <br>
    </form>
   </div>

{% endblock content %}
