{% extends "base.html" %}
{% load static %}

{% block title %}
  shop cart total page
{% endblock title %}


{% block content %}
  

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'home' %}" rel="nofollow">Home</a>
                    <span></span><a href="{% url 'shop-address' %}">Shop Address</a>
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius-10 cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">{{ total }} so'm</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">{{ total }} so'm</span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary btn-lg active font-weight-bold btn-shadow-brand hover-up" type="submit"><i class="far fa-arrow-right mr-5"></i>Return to shop</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}
    

{% block script %}
    
    <!-- Template  JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

    <script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
{% endblock script %}