{% extends "base.html" %}
{% load static %}

{% block title %}
  home page
{% endblock title %}


{% block content %}
  

    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-9 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Trade-In Offer</h4>
                                            <h2 class="animated fw-900">Supper Value Deals</h2>
                                            <h1 class="animated fw-900 text-brand">On All Products</h1>
                                            <p class="animated">Save more with coupons & up to 70% off</p>
                                            <a class="animated btn btn-default btn-rounded" href="shop-product-right.html"> SHOP NOW <i class="fa fa-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static 'imgs/slider/slider-6.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Tech Promotions</h4>
                                            <h2 class="animated fw-900">Tech Trending</h2>
                                            <h1 class="animated fw-900 text-brand">Great Collection</h1>
                                            <p class="animated">Save more with coupons & up to 20% off</p>
                                            <a class="animated btn btn-default btn-rounded" href="shop-product-right.html"> DISCOVER NOW <i class="fa fa-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static 'imgs/slider/slider-7.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Upcoming Offer</h4>
                                            <h2 class="animated fw-900">Big Deals From</h2>
                                            <h1 class="animated fw-900 text-brand">Manufacturer</h1>
                                            <p class="animated">Headphone, Gaming Laptop, PC and more...</p>
                                            <a class="animated btn btn-default btn-rounded" href="shop-product-right.html"> SHOP NOW <i class="fa fa-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static 'imgs/slider/slider-3.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <section class="featured pb-30 pt-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                        <div class="banner-left-icon style-2 d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'imgs/theme/icons/icon-truck.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Shipping</h3>
                                <p>Orders $50 or more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <div class="banner-left-icon style-2 d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'imgs/theme/icons/icon-purchase.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Returns</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="banner-left-icon style-2 d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'imgs/theme/icons/icon-bag.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                <p>When you sign up</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="banner-left-icon style-2 d-flex align-items-center wow fadeIn animated mb-sm-0">
                            <div class="banner-icon">
                                <img src="{% static 'imgs/theme/icons/icon-operator.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Support Center</h3>
                                <p>24/7 amazing services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs pb-30 wow fadeIn animated">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                    </li>
                </ul>
                <!--End nav-tabs-->

                <!-- (Featured) -->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            {% for f_product in fuatured_products %}
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'detail' f_product.id %}">
                                                <img class="default-img" src="{{ f_product.images.first.image_url }}" alt="">
                                                <img class="hover-img" src="{{ f_product.images.last.image_url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_to_favorite' %}?product_id={{f_product.id}}"><i class="far fa-heart"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="{{ f_product.status|lower }}">{{ f_product.status }}</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="{% url 'add_to_favorite' %}?product_id={{f_product.id}}">{{ f_product.categories.last.name }}</a>
                                        </div>
                                        <h2><a href="{% url 'add_to_favorite' %}?product_id={{f_product.id}}">{{ f_product.title }}</a></h2>
                                        <div class="rating-result" title="{{ f_product.get_reviews_count }}">
                                            <span>
                                                <span>({{ f_product.get_reviews_count }} sharhlar)</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            {% if f_product.get_new_price %}
                                            <span class="old-price">{{ f_product.get_price }} so'm</span><br>
                                            <span>{{ f_product.get_new_price }} so'm</span>
                                            {% else %}
                                            <span>{{ f_product.get_price }} so'm</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' f_product.id %}"><i class="far fa-shopping-bag"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>


                    <!--En tab one (Popular)-->
                    <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                        <div class="row product-grid-4">
                            {% for pop_product in popular_products %}
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'detail' pop_product.id %}">
                                                <img class="default-img" src="{{ pop_product.images.first.image_url }}" alt="">
                                                <img class="hover-img" src="{{ pop_product.images.last.image_url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_to_favorite' %}?product_id={{pop_product.id}}"><i class="far fa-heart"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="{{ pop_product.status|lower }}">{{ pop_product.status }}</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="{% url 'add_to_favorite' %}?product_id={{pop_product.id}}">{{ pop_product.categories.last.name }}</a>
                                        </div>
                                        <h2><a href="{% url 'add_to_favorite' %}?product_id={{pop_product.id}}">{{ pop_product.title }}</a></h2>
                                        <div class="rating-result" title="({{ pop_product.get_reviews_count }})%">
                                            <span>
                                                <span>({{ pop_product.get_reviews_count }} sharhlar)</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            {% if pop_product.get_new_price %}
                                            <span class="old-price">{{ pop_product.get_price }} so'm</span><br>
                                            <span>{{ pop_product.get_new_price }} so'm</span>
                                            {% else %}
                                            <span class="old-price">{{ pop_product.get_price }} so'm</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' pop_product.id %}"><i class="far fa-shopping-bag"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>


                    <!--En tab two (New added)-->
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        <div class="row product-grid-4">
                            {% for n_add_product in new_added_product %}
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'detail' n_add_product.id %}">
                                                <img class="hover-img" src="{{ n_add_product.images.first.image_url }}" alt="">
                                                <img class="default-img" src="{{ n_add_product.images.last.image_url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_to_favorite' %}?product_id={{n_add_product.id}}"><i class="far fa-heart"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="{{ n_add_product.status|lower }}">{{ n_add_product.status }}</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/">{{ n_add_product.categories.last.name }}</a>
                                        </div>
                                        <h2><a href="/">{{ n_add_product.title }}</a></h2>
                                        <div class="rating-result" title="({{ n_add_product.get_reviews_count }})%">
                                            <span>
                                                <span>({{ n_add_product.get_reviews_count }} sharhlar)</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            {% if n_add_product.get_new_price %}
                                            <!-- <span class="old-price">{{ n_add_product.get_new_price }} so'm</span><br> -->
                                            <span>{{ n_add_product.get_price }} so'm</span>
                                            {% else %}
                                            <span class="old-price">{{ n_add_product.get_price }} so'm</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' n_add_product.id %}"><i class="far fa-shopping-bag"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--End tab three (New added)-->

                </div>
                <!--End tab-content-->
            </div>
        </section>
 
        <section class="popular-categories bg-grey-9 pt-30 pb-30">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-30"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        {% for ctg in categories %}
                        <div class="card-1 border-radius-10 hover-up p-30">
                            <figure class="mb-30 img-hover-scale overflow-hidden">
                                <img src="{{ ctg.icon.url }}" alt="">                       
                            </figure>
                            <h5><a href="{% url 'shop' ctg.id %}">{{ ctg.name }}</a></h5>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="banners pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img class="border-radius-10" src="{% static 'imgs/banner/banner-1.png' %}" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>iPhone 12</h4>
                                <a href="#">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img class="border-radius-10" src="{% static 'imgs/banner/banner-2.png' %}" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Camera <br>Collection</h4>
                                <a href="#">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-2">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="{% static 'imgs/banner/banner-4.png' %}" alt="">
                    <div class="banner-text">
                        <h4 class="mb-15 mt-40 text-white">Repair Services</h4>
                        <h2 class="fw-600 mb-20 text-white">We're an Apple <br>Authorised Service Provider</h2>
                        <a href="#" class="btn">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-30 pb-30">
            <div class="container wow fadeIn animated">
                <h3 class="section-title style-1 mb-30">New Arrivals</h3>
                <div class="carausel-6-columns-cover arrow-center position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        {% for n_arr_product in new_arrivals_products %}
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'detail' n_arr_product.id %}">
                                        <img class="default-img" src="{{ n_arr_product.images.first.image_url }}" alt="">
                                        <img class="hover-img" src="{{ n_arr_product.images.last.image_url }}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'add_to_favorite' %}?product_id={{n_arr_product.id}}" tabindex="0"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="{{ n_arr_product.status|lower }}">{{ n_arr_product.status }}</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="{% url 'detail' n_arr_product.id %}">{{ n_arr_product.title }}</a></h2>
                                <div class="rating-result" title="({{ n_arr_product.get_reviews_count }})">
                                    <span>
                                        ({{ n_arr_product.get_reviews_count }} sharhlar)
                                    </span>
                                </div>
                                <div class="product-price">
                                    {% if n_arr_product.get_new_price %}
                                        <span class="old-price">{{ n_arr_product.get_price }} so'm</span><br>
                                        <span>{{ n_arr_product.get_new_price }} so'm</span>
                                    {% else %}
                                        {{ n_arr_product.get_price }} so'm
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="deals">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url '{% static 'imgs/banner/menu-banner-7.jpg' %}' ">
                            <div class="deal-top">
                                <h2 class="text-brand">Deal of the Day.</h2>
                                <h5>Limited quantities.</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="/">Smart Headphone New Morden Design</a></h6>
                                <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                <a href="#" class="btn hover-up">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated" style="background-image: url '{% static 'imgs/banner/menu-banner-8.jpg' %}'">
                            <div class="deal-top">
                                <h2 class="text-success">Gadgets & Accessories</h2>
                                <h5>Computers & Laptop</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="#">Apple In-Ear Headphones with Remote and Mic</a></h6>
                                <div class="product-price"><span class="new-price">$178.00</span><span class="old-price">$256.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                                <a href="#" class="btn hover-up">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-30 pb-30">
            <div class="container">
                <h3 class="section-title style-1 mb-30 wow fadeIn animated">Featured Brands</h3>
                <div class="carausel-6-columns-cover arrow-center position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-3 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        {% for brand in brands %}
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="{{ brand.icon.url }}" alt=""><br>
                            <b>{{ brand.name }}</b>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-grey-9 pt-30 pb-30">
            <div class="container">
                <div class="heading-tab d-flex">
                    <div class="heading-tab-left wow fadeIn animated">
                        <h3 class="section-title mb-35">Monthly <span>Best Sell</span></h3>
                    </div>
                    <div class="heading-tab-right wow fadeIn animated">
                        <ul class="nav nav-tabs right no-border" id="myTab-1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="banner-img style-2 wow fadeIn animated">
                            <img src="{% static 'imgs/banner/banner-9.jpg' %}" alt="">
                            <div class="banner-text">
                                <span>Gaming Area</span>
                                <h4>Save 17% on <br>Assus Laptop</h4>
                                <a href="{% url 'shop' %}">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-9 col-md-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                            <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                        {% for most_best_product in monthly_best_sell_products %}
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'detail' most_best_product.id %}">
                                                        <img class="default-img" src="{{ most_best_product.images.first.image_url }}" alt="">
                                                        <img class="hover-img" src="{{ most_best_product.images.last.image_url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'add_to_favorite' %}?product_id={{most_best_product.id}}"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="{{ most_best_product.status|lower }}">{{ most_best_product.status }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'detail' most_best_product.id %}">{{ most_best_product.categories.last.name }}</a>
                                                </div>
                                                <h2><a href="{% url 'detail' most_best_product.id %}">{{ most_best_product.title }}</a></h2>
                                                <div class="rating-result" title="({{ most_best_product.get_reviews_count }})%">
                                                    <span>
                                                        <span>({{ most_best_product.get_reviews_count }} sharhlar)</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    {% if most_best_product.get_new_price %}
                                                    <span class="old-price">{{ most_best_product.get_price }} so'm</span><br>
                                                    <span>{{ most_best_product.get_new_price }} so'm</span>
                                                    {% else %}
                                                    {{ most_best_product.get_price }} so'm
                                                    {% endif %}
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' most_best_product.id %}"><i class="far fa-shopping-bag"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!--End tab-pane-->
                            <div class="tab-pane fade" id="tab-two-1" role="tabpanel" aria-labelledby="tab-two-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-2-arrows"></div>
                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-2">
                                       {% for monthly_best_sell_popular in monthly_best_sell_popular %}
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'detail' monthly_best_sell_popular.id %}">
                                                        <img class="default-img" src="{{ monthly_best_sell_popular.images.first.image_url }}" alt="">
                                                        <img class="hover-img" src="{{ monthly_best_sell_popular.images.last.image_url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'add_to_favorite' %}?product_id={{monthly_best_sell_popular.id}}"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="{{ monthly_best_sell_popular.status|lower }}">{{ monthly_best_sell_popular.status }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'detail' monthly_best_sell_popular.id %}">{{ monthly_best_sell_popular.categories.last.name }}</a>
                                                </div>
                                                <h2><a href="{% url 'detail' monthly_best_sell_popular.id %}">{{ monthly_best_sell_popular.title }}</a></h2>
                                                <div class="rating-result" title="({{ monthly_best_sell_popular.get_reviews_count }})">
                                                    <span>
                                                        <span>({{ monthly_best_sell_popular.get_reviews_count }} sharhlar)</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    {% if monthly_best_sell_popular.get_new_price %}
                                                    <span class="old-price">{{ monthly_best_sell_popular.get_price }} so'm</span><br>
                                                    <span>{{ monthly_best_sell_popular.get_new_price }} so'm</span>
                                                    {% else %}
                                                    {{ monthly_best_sell_popular.get_price }} so'm
                                                    {% endif %}
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' monthly_best_sell_popular.id %}"><i class="far fa-shopping-bag"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-three-1" role="tabpanel" aria-labelledby="tab-three-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-3-arrows"></div>
                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-3">
                                        {% for most_best_n_a in monthly_best_sell_new_add %}
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'detail' most_best_n_a.id %}">
                                                        <img class="default-img" src="{{ most_best_n_a.images.first.image_url }}" alt="">
                                                        <img class="hover-img" src="{{ most_best_n_a.images.last.image_url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'add_to_favorite' %}?product_id={{most_best_n_a.id}}"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="{{ most_best_n_a.status|lower }}">{{ most_best_n_a.status }}</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'detail' most_best_n_a.id %}">{{ most_best_n_a.categories.last.name }}</a>
                                                </div>
                                                <h2><a href="{% url 'detail' most_best_n_a.id %}">{{ most_best_n_a.title }}</a></h2>
                                                <div class="rating-result" title="({{ most_best_n_a.get_reviews_count }})">
                                                    <span>
                                                        <span>({{ most_best_n_a.get_reviews_count }} sharhlar)</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    {% if most_best_n_a.get_new_price %}
                                                    <span class="old-price">{{ most_best_n_a.get_price }} so'm</span><br>
                                                    <span>{{ most_best_n_a.get_new_price }} so'm</span>
                                                    {% else %}
                                                    {{ most_best_n_a.get_price }} so'm
                                                    {% endif %}
                                                </div>

                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="{% url 'add-shop-cart' most_best_n_a.id %}"><i class="far fa-shopping-bag"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End tab-content-->
                    </div>
                    <!--End Col-lg-9-->
                </div>
            </div>
        </section>

        <section class="mb-30">
            <div class="container">
                <div class="banner-bg wow fadeIn animated" style="background-image: url '{% static 'imgs/banner/banner-8.jpg' %}' ">
                    <div class="banner-content">
                        <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                        <h3 class="fw-600">Specialized storage for tourism</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                            <img class="border-radius-10" src="{% static 'imgs/banner/banner-10.jpg' %}" alt="">
                            <div class="banner-text">
                                <span>Music Zone</span>
                                <h4>Save 17% on <br>Headphone</h4>
                                <a href="#">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Deals & Outlet</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for foot_deal in foot_deals_outlet %}
                            <article class="row align-items-center">
                                <figure class="col-md-3 mb-0">
                                    <a href="{% url 'detail' foot_deal.id %}"><img src="{{ foot_deal.images.first.image_url }}" alt=""></a>
                                </figure>
                                <div class="col-md-9 pl-0">
                                    <h4 class="title-small">
                                        <a href="{% url 'detail' foot_deal.id %}">{{ foot_deal.title }}</a>
                                    </h4>
                                    <p>{{ foot_deal.categories.last.name }}</p>
                                    <div class="product-price">
                                        {% if foot_deal.get_new_price %}
                                        <span class="old-price">{{ foot_deal.get_price }} so'm</span><br>
                                        <span>{{ foot_deal.get_new_price }} so'm</span>
                                        {% else %}
                                        <span>{{ foot_deal.get_price }} so'm</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for foot_top_sel in foot_top_selling %}
                            <article class="row align-items-center">
                                <figure class="col-md-3 mb-0">
                                    <a href="{% url 'detail' foot_top_sel.id %}"><img src="{{ foot_top_sel.images.first.image_url }}" alt=""></a>
                                </figure>
                                <div class="col-md-9 pl-0">
                                    <h4 class="title-small">
                                        <a href="{% url 'detail' foot_top_sel.id %}">{{ foot_top_sel.title }}</a>
                                    </h4>
                                    <p>{{ foot_top_sel.categories.last.name }}</p>
                                    <div class="product-price">
                                        {% if foot_top_sel.get_new_price %}
                                        <span class="old-price">{{ foot_top_sel.get_price }} so'm</span><br>
                                        <span>{{ foot_top_sel.get_new_price }} so'm</span>
                                        {% else %}
                                        <span class="old-price">{{ foot_top_sel.get_price }} so'm</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Hot Releases</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for foot_h_rel in foot_hot_releases %}
                            <article class="row align-items-center">
                                <figure class="col-md-3 mb-0">
                                    <a href="{% url 'detail' foot_h_rel.id %}"><img src="{{ foot_h_rel.images.first.image_url }}" alt=""></a>
                                </figure>
                                <div class="col-md-9 pl-0">
                                    <h4 class="title-small">
                                        <a href="{% url 'detail' foot_h_rel.id %}">{{ foot_h_rel.title }}</a>
                                    </h4>
                                    <p>{{ foot_h_rel.categories.last.name }}</p>
                                    <div class="product-price">
                                        {% if foot_h_rel.get_new_price %}
                                        <span class="old-price">{{ foot_h_rel.get_price }} so'm</span><br>
                                        <span>{{ foot_h_rel.get_new_price }} so'm</span>
                                        {% else %}
                                        <span class="old-price">{{ foot_h_rel.get_price }} so'm</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}