{% extends "base.html" %}
{% load static %}

{% block title %}
  shop wishlist page
{% endblock title %}


{% block content %}
  

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'home' %}" rel="nofollow">Home</a>
                    <a href="{% url 'shop' %}"><span></span> Shop</a>
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for like in sevimlilar %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ like.product.images.first.image_url }}" alt="#"></td>
                                        <td class="product-des product-name">
                                            <p class="product-name"><a href="{% url 'detail' like.id %}">{{ like.product.title }}</a></p>
                                            <p class="font-xs">{{ like.product.mini_desc|slice:"49" }}
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span style="font-weight: bold;">{{ like.product.get_new_price }} so'm</span></td>
                                        <td class="text-center" data-title="Stock">
                                            <span class="color3" style="font-weight: bold;">{{ like.product.status }}</span>
                                        </td>
                                        <td class="btn btn-rounded btn-sm"><a href="{% url 'add-shop-cart' like.product.id %}">Add to cart</a><i class="far fa-shopping-bag mr-5"></i></td>
                                        <td class="action" data-title="Remove"><a href="{% url 'delete-favorite' like.id %}"><i class="fa fa-trash-alt"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
    
{% block script %}
<script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
<!-- Template  JS -->
{% endblock script %}
   