{% extends "base.html" %}
{% load static %}

{% block title %}
    shop address page
{% endblock title %}


{% block content %}
  

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'home' %}" rel="nofollow">Home</a>
                    <span></span><a href="{% url 'shop-cart' %}">Shop Cart</a>
                    <span></span> Your Calculate
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-50">

                            <div class="col-lg-6 col-md-12">
                                <div class="heading_s1 mb-3">
                                    <h4>Calculate Shopping</h4>
                                </div>
                                <form class="field_form shipping_calculator" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <div class="custom_select">
                                                {{ form.country }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="form-group col-lg-6">
                                            {{ form.address }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <button class="btn btn-rounded btn-sm btn-shadow-brand hover-up"><i class="far fa-share-square mr-5"></i>Continue</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}
    

{% block script %}
    
    <!-- Template  JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

    <script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
{% endblock script %}