{% extends "base.html" %}
{% load static %}

{% block title %}
  shop cart page
{% endblock title %}


{% block content %}
  

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span><a href="{% url 'shop' %}">Shop</a>
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ order.product.images.first.image_url }}" alt="#"></td>
                                        <td class="product-des product-name">
                                            <p class="product-name"><a href="{% url 'detail' order.product.id %}">{{ order.product.title }}</a></p>
                                            <p class="font-xs">{{ order.product.mini_desc|slice:"50" }}
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span>{{ order.product.get_new_price }} so'm</span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <span class="qty-val">{{ order.quantity }}</span>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>{{ order.product.get_new_price }} so'm</span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="{% url 'delete-shop-cart' order.id %}" ><i class="fa fa-trash-alt"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn btn-rounded btn-shadow-brand hover-up" href="{% url 'shop-address' %}"><i class="far fa-cart-plus mr-5"></i>Continue Shopping</a>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}
    

{% block script %}
    
    <!-- Template  JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>

    <script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
{% endblock script %}